@import-normalize; /* bring in normalize.css styles */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.red {
  color: red;
}

p {
  margin: 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.wrapper {
  position: relative;
  width: 380px;
  height: 460px;
  display: flex;
  background: linear-gradient(
    114.99deg,
    #471ca9 -0.99%,
    #5736a3 54.28%,
    #4b2a99 78.99%
  );
  box-shadow: -2.5777px 6.87386px 20.6216px rgba(0, 0, 0, 0.23);
  border-radius: 20px;
  flex-direction: column;
  justify-content: space-between;
}
.wrapper__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 36px;
}

.text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 16px;
  color: #ebd8ff;
}
.text:nth-child(2n) {
  margin-bottom: 26px;
}
.button {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;

  cursor: pointer;
  background: #ebd8ff;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
  border-radius: 10.3108px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding: 14px 56px;
}

.button__active {
  background: #5cd3a8;
  padding: 14px 39px;
}

.logo__box {
  padding: 20px;
  width: 76px;
  height: 20px;
}

.picture_box {
  position: absolute;
  top: 30px;
  left: 36px;
}

.avatar__wrapper {
  position: relative;
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.elipse {
  position: absolute;
  z-index: 30;
}

.rectangle {
  position: absolute;
  z-index: 20;
}
